<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MQTTCustomDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="AWSProfileName" value="sqsprofile"/>
    <add key="AWSProfilesLocation" value="credentials"/>
  </appSettings>
  <applicationSettings>
    <MQTTCustomDataService.Properties.Settings>
      <setting name="MQTTClients" serializeAs="String">
        <value></value>
      </setting>
      <setting name="MQTTClientTimerCheck" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="SigfoxQueueURL" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SigfoxAwsSqsLocation" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SigfoxUpdatePeriod" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="Em6UpdatePeriod" serializeAs="String">
        <value>300000</value>
      </setting>
    </MQTTCustomDataService.Properties.Settings>
  </applicationSettings>
</configuration>
